CLIENT_ID=...
TOKEN=...
GUILD_ID=...
MONGO_URI=DATABASE (IF USING)
ODC=your oriondriftcompetitive.com X-Api-Key
EUroleID=...
NAroleID=...
OCEroleID=...
standingsChannelID=...
MatchesChannelID=...
FLEET_ID=d6c19ade-cab3-4a4d-9602-42af00ca56e6 (optional, this is already the default)